{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}


<div class="strip bg-cover bg-position-top bg-overlay paperBand" style="">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        {{ .Content }}
        {{ if .Params.button }}
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
      <div class="col-md-offset-6">
        <form name="contact" class="form getWhitepaper" method="POST" data-netlify="true">
          <p type="First Name:"><input type="text" name="first-name" placeholder="Your first name" /></p>
          <p type="Last Name:"><input type="text" name="last-name" placeholder="your last name" /></p>
          <p type="Email:"><input type="email" name="email" placeholder="How can we get in touch?" /></p>
          <button class="button button-primary" type="submit">Get Whitepaper</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}



  <div class="container pt-17 pb-17">
      <div class="col-md-12">
    <h2 class="text-primary text-capitalize">Trusted & Implemented by Industry Leaders</h2>
        <a href="https://www.castoredc.com/"><img src="images/castor.png" class="img-logo-external" alt="Castor"></a>
        <a href="https://www.shell.com/"><img src="images/Shell_logo.svg.png" class="img-logo-external" alt="RDS"></a>
    </div>
</div>


{{ end }}


{{ define "footer_js" }}
{{ end }}